{% extends 'base.html' %}
{% load static %}

{% block title %}Tipos de Anestesia{% endblock %}

{% block content %}
<div class="container my-4">
    <h2 class="text-center mb-4">Tipos de Anestesia</h2>

    <form id="formAnestesia" class="row g-2 mb-4">
        <div class="col-md-12">
            <label for="nomeAnestesia" class="form-label">Nome da Anestesia</label>
            <input type="text" id="nomeAnestesia" class="form-control" placeholder="Ex: Raquidiana">
        </div>
        <div class="col-md-12 text-end">
            <button type="submit" id="salvarAnestesia" class="btn btn-success">
                <i class="fa fa-plus"></i> Cadastrar Anestesia
            </button>
        </div>
    </form>

    <table class="table table-striped">
        <thead class="table-primary">
            <tr>
                <th>NOME</th>
                <th class="text-end">AÇÕES</th>
            </tr>
        </thead>
        <tbody id="anestesiaTable">
        </tbody>
    </table>
</div>
{% endblock %}

{% block extra_js %}
<script src="{% static 'js/tipos_anestesia.js' %}"></script>
{% endblock %}
